/* src/PhotoSlider.css */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex-shrink: 0;
    width: 33.3333%;
}

.slider-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}